@import '../../config';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: $container;
  max-width: 120rem;

  @media (min-width: $size-desktop) {
    flex-direction: row;
  }

  &--stretch {
    align-items: stretch;
  }

  &--centered {
    justify-content: center;
  }

  &--small {
    display: block;

    @media (min-width: $size-desktop) {
      width: 50%;
    }
  }
}
