@import '../../config.scss';
@import '../../colors.scss';

.section {
  padding: 4rem 0;

  &__icon {
    display: block;
    stroke: $color-white;
  }

  &__title {
    display: block;
    margin-bottom: 4rem;
    position: relative;
    text-align: center;

    &:before {
      content: '❮ ';
      vertical-align: middle;
    }

    &:after {
      content: ' ❯';
      vertical-align: middle;
    }
  }
}