@import '../config.scss';
@import '../colors.scss';

.feature {

  &__icon {
    stroke: $color-primary;
    vertical-align: middle;
    margin-right: 1rem;
  }

  &__title {
    color: $color-primary;
    display: inline-block;
    position: relative;
    margin-bottom: 0.5rem;
    z-index: 0;

  }

  &__text {
    margin-bottom: 2rem;
  }
}