@import '../colors.scss';
@import '../config.scss';

.topic {
  margin-bottom: 2rem;

  &__question {
    color: $color-white;
    font-weight: 700;
    padding: 0.25rem 1rem;
    position: relative;
    z-index: 0;
    &:after {
      background-color: $color-black;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      transform: skew($skew);
      z-index: -1;
    }
  }

  &__answer {
    @media (min-width: $size-desktop) {
      padding-left: 2rem;
    }
  }

  a:hover {
    color: $color-black;
  }
}