.braziljs {
  background-image: url('../../images/braziljs__bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem 0;

  &__logo {
    width: 8rem;
  }
}