@import '../colors';
@import '../config';
@import '../typography';

.banner {
  align-items: center;
  background-image: url(../images/home__banner.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__logo {
    align-items: center;
    fill: $color-primary;
    display: flex;
    justify-content: center;
    grid-area: logo;
    padding: 1rem;

    svg {
      display: block;
      fill: inherit;
      width: 128px;
    }
  }
}
