@import '../colors';
@import '../config';

.banner {
  align-items: flex-start;
  background-image: url("../images/home__banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  min-height: 100%;
  width: 100%;

  @media (min-width: $size-tablet) {
    justify-content: flex-end;
    align-items: center;
  }

  &__container {
    align-content: center;
    display: flex;
    justify-content: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;

    @media (min-width: $size-desktop) {
      align-content: center;
      flex-direction: row;
    }
  }

  &__content {
    background-color: $color-primary;
    padding: 2rem;
    transform: skew(-15deg);
    position: relative;

    @media (min-width: $size-desktop) {
      padding: 2rem 5rem;
    }

    &:after {
      @media (min-width: $size-desktop) {
        background-color: hsla(hue($color-primary), 100%, 30%, 1);
        content: "";
        height: 100%;
        width: 8rem;
        position: absolute;
        top: 2rem;
        right: -8.5rem;
      }
    }
  }

  &__logo {
    align-items: center;
    display: flex;
    background-color: $color-white;
    margin-right: 1rem;
    padding: 3.5rem 2rem;
    transform: skew(-15deg);

    svg {
      display: block;
      transform: skew(15deg);
      margin: 0 auto;
    }
  }

  &__title {
    color: $color-white;
    transform: skew(15deg);
  }

  &__text {
    transform: skew(15deg);
  }
}