@import '../colors.scss';
@import '../config.scss';

.speakers {
  background-color: $color-black;
  color: $color-white;

  .section__title {
    color: $color-primary;
  }

  .container {
    flex-direction: row;
  }

  .speaker {
    flex-basis: 50%;
    @media (min-width: $size-tablet) {
      padding: 0 1rem;
      flex-basis: 50%;
    }
  }
}