@import '../colors.scss';
@import '../config.scss';

.speakers {
  background-color: $color-black;
  color: $color-white;

  .section__title {
    color: $color-primary;
  }

  &__container {
    flex-direction: row;
    justify-content: center;
    @media (min-width: $size-desktop) {
      justify-content: flex-start;
    }
  }

  .speaker {
    flex: 1;
    // margin: 1rem auto;
    @media (min-width: $size-tablet) {
      flex: 1 1 100%;
      padding: 0 1rem;
    }

    @media (min-width: $size-desktop) {
      flex: 0 0 50%;
      padding: 0 1rem;
      margin: 1rem 0;
    }
  }
}
