@import '../config.scss';

.staff {
  .container {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .member {
    flex: 1 0 1;
    margin: 1rem auto;
    @media(min-width: $size-tablet) {
      margin: 1.5rem;
    }
  }
}