@import '~normalize-scss/sass/normalize/import-now';
@import './config.scss';
@import './colors.scss';
@import './typography.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  min-height: 100%;
  width: 100%;
}

#app {
  min-height: 100%;
  width: 100%;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
}

figure {
  margin: 0;
  padding: 0;
}
