@import './config.scss';
@import './colors.scss';

$font-base: "Roboto", sans-serif !default;
$font-title: "Passion One", sans-serif !default;

$font-size: 1rem !default;
$font-size-small: 0.875rem !default;

$heading-1: 3rem !default;
$heading-2: 2.5rem !default;
$heading-3: 2rem !default;
$heading-4: 1.5rem !default;
$heading-5: 1.125rem !default;
$font-weight: 400 !default;
$font-weight-bold: 700 !default;

html,
body {
  font-family: $font-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: $font-weight;
  line-height: normal;
  margin: 1rem 0;
  text-transform: uppercase;
}

h1 {
  font-size: $heading-1 * 0.8;

  @media (min-width: $size-tablet) {
    font-size: $heading-1;
  }
}

h2 {
  font-size: $heading-2 * 0.8;

  @media (min-width: $size-tablet) {
    font-size: $heading-2;
  }
}

h3 {
  font-size: $heading-3;
}

h4 {
  font-size: $heading-4;
}

h5 {
  font-size: $heading-5;
}

p {
  font-size: $font-size;
  line-height: 1.5;
}

small {
  font-size: $font-size-small;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-white;
  }
}
