@import '../../colors';
@import '../../config';
@import '../../typography';

.button {
  background: $color-primary;
  color: $color-white;
  border: none;
  border-bottom: 10px solid darken($color-primary, 10);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  padding: 1.5rem 2.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 500ms ease;
  z-index: 1;

  &:hover {
    background: $color-black;
    color: $color-primary;
    border-bottom: 2px solid darken($color-black, 10);
  }

  &--secondary {
    background: $color-white;
    color: $color-primary;
    border-bottom: 10px solid darken($color-white, 20);
  }
}
